.home-page__main{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    margin-top: 12%;
    height: 60%;
    padding: 5% 15%;
    /*background-color: coral;*/
}

.home-page__main__text{
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 40%;
    color: #D9D9D9;
    font-size: 28px;
}

.home-page__main__buttons{
    width: 38%;
    height: 55%;
    background-color: #333333;
    border-radius: 45px;
    /*padding: 5%;*/
    margin-left: 16%;
}

.home-page__main__buttons button{
    display: flex;
    height: 35%;
    width: 89%;
    background-color: #424242;
    border: none;
    border-radius: 25px;
    margin: 6% 5%;
}

.home-page__main__buttons_button{
    display: flex;
    height: 36%;
    width: 78%;
    /*height: 35%;*/
    /*background-color: #424242;*/
    /*border-radius: 25px;*/
    margin: 8% 5%;
}
.home-page__main__buttons_button img{
    margin-top: 5%;
}

.home-page__main__buttons_button button{
    border: none;
    background-color: coral;
    color: #D9D9D9;
    font-size: 20px;
}

.home-page__main__buttons_button_text{
    /*background-color: aqua;*/
    width: 100%;
    margin: 5%;
    font-size: 18px;
    text-align: left;
    color: #D9D9D9;

}

.home-page__main__buttons_arrow{
    margin: 12% 0;
    justify-content: flex-end;

    /*background-color: burlywood;*/
}